<strong>Olá, {{ deliveryMan }}</strong>
<p>Há uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipientName }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereço: </strong> {{ street }}, {{ number }}, {{ city }} - {{ state }} | {{ zipcode }}

  <br />
</p>
