<strong>Olá, {{ deliveryMan }}</strong>
<p>Há uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipientName }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />

  <small>
    Endereço: {{ street }}, {{ number }}, {{ city }} - {{ state }} | {{ zipcode }}
  </small>
</p>
